body {
	font-family:"Arial", Helvetica, sans-serif;
	}
	
#leftside {
	float:left;
	width:300px;
	height:350px;
	padding-left:50px;
}

#pic {
	position:absolute;
	top:150px;
}

#rightside {
	float:left;
	width:400px;
	height:600px;
	padding-right:100px;
	position:relative;
}

#info {
	position:absolute;
	top:300px;
}
        
#name {
         position: absolute;
         top: 25px;
         left: 400px;
         width:200px;
	 font-size:200%;
         text-align:center;
	 color:orange;

}

.category {
         font-weight:bold;
	 background-color:orange;
	 
}

.topic {
	
	font-size:200%;
	color:darkblue;
	
}


