    @font-face {
        font-family: 'FontleroyBrownRegular';
        src: url('FontleroyBrown-webfont.eot');
        src: url('FontleroyBrown-webfont.eot?#iefix') format('embedded-opentype'),
            url('FontleroyBrown-webfont.woff') format('woff'),
            url('FontleroyBrown-webfont.ttf') format('truetype'),
            url('FontleroyBrown-webfont.svg#FontleroyBrownRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

body {
    background-color: PowderBlue;
    padding: 15px;

}

.titlebar {
    display: block;
    width: 100%;
    background-color: black;
}

/* left third of the page*/
.leftside {
    width: 33%;
    float: left;
}

/* middle third of the page*/
.middle {
    width: 33%;
    float: left;
}

/* right third of the page*/
.rightside {
    width: 33%;
    float: right;
}

.leftside img {
    border-style: solid;
    border-width: 1px;
}
    
/* text in Raven's font */
.text {
    font-family: FontleroyBrownRegular, Helvetica, sans-serif;
    font-size: 48px;
    }

/* labels of personal info */
.aboutme, .aboutinfo {
    font-family: FontleroyBrownRegular, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

.aboutinfo {
    text-shadow:2px 2px #5F9EA0; 
}

/* blank form-fill spaces */
.profileform {
    width: 2.75in;
    float: right;
}

/* promotional message about joining Raven */
.promote {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14pt;
    background-color: black;
    color: PowderBlue;
    padding: 5px;
    box-shadow: 10px 10px 2px CadetBlue;
}

.promote a, .promote a:visited {
    color: PowderBlue;
}

/* display error messages*/
.error {
    color: red;
}

/* the word raven on a page*/
.raven {
    font-family: FontleroyBrownRegular, Helvetica, sans-serif;
    font-size: 72px;
}

/* title of the site; logo */
.raventitle{
    font-family: FontleroyBrownRegular, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: PowderBlue;
    background-color: Black;
    border-style: solid;
    border-width: 1px;
    border-color: SlateGray;
    padding: 5px;
} 

/* user names for display on such
 * things as list of posts, list of followed, etc. */
.username {
    font-family: FontleroyBrownRegular, Helvetica, sans-serif;
    font-size: 30px;
}

/* the quotations that users post */
.quote {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.follow a, .unfollow a, .getuser a {
    width: 1in;
    float: right;
    text-align: center;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: PowderBlue;
}

.unfollow a {
    background-color: CadetBlue;
    color: PowderBlue;
}

#menu a, .follow a, .unfollow a, .getuser a  {
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    text-decoration: none;
}

#menu a, .follow a {
    color: PowderBlue;
    background-color: black;
}

.getuser a {
    color: black;
    background-color: CadetBlue;
}

#menu a {
    font-size: .4em;
    padding: 10px;  
    }

#menu a:hover, .follow a:hover, .unfollow a:hover {
    background-color: PowderBlue;
    color: black;
    box-shadow: 5px 5px 2px #888888;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
